html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 60px; /* Margin bottom by footer height */
  }

  .container {
    width: auto;
    padding: 0 15px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #000;
    color: #fff;
  }

.button-style{
    background: radial-gradient(rgba(226, 217, 217, 0), rgb(18, 209, 82));
    color: #000;
    font-weight: 600;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border-color: black;
}

.giphy-view{
  color: #000;
  float: left;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}